In [1]:
import pandas as pd
from tabulate import tabulate
from IPython.display import display, Markdown
import os

In [2]:
def load_data(path="../Data/raw/Crop Recommendation Dataset.xlsx"):
    df = pd.read_excel(path)
    return df

In [3]:
def clean_data(df): 
    df = df.copy()
    df.columns = df.columns.str.strip()
    df = df.drop_duplicates()
    return df

In [4]:
#Como tenemos una gran variedad de cultivos, vamos a agrupar los 70 cultivos en categorias.
def categorize_crop(label):
    """
    Agrupa los cultivos en categorías según su tipo.
    Esto reduce la cardinalidad en la variable objetivo.
    """

    fruits = ["Apple", "Banana", "Grapes", "Guava", "Mango", "Orange", "Papaya", "Pomegranate", "Watermelon", "Muskmelon", "Litchi", "DragonFruit", "Jackfruit"]

    vegetables = ["Cabbage", "Cauliflower", "Brinjal", "Tomato", "Potato", "Carrot", "Onion", "Garlic", "Ginger", "Spinach", "Broccoli", "Pumpkin", "Cucumber", "Beetroot", "Radish", "Capsicum", "Lettuce", "Green Beans", "French Beans", "Green Peas", "Lady's Finger", "Chinese Cabbage"]

    cereals = ["Rice", "Maize", "Bajra", "Corn"]

    legumes = ["Pulses", "Chickpea", "Blackgram", "Kidneybeans", "Mothbeans", "Mungbeans", "Piegonpeas", "Rajma", "Soybean"]

    spices = ["Turmeric", "Coriander"]

    commercial = ["Cotton", "Sugarcane", "Coffee", "Tea", "Arecanut", "Coconut", "Groundnut", "Mustard", "Walnuts", "Cashewnuts", "Poppy Seeds"]

    medicinal = ["Aleovera", "Ashwagandha"]

    flowers = ["Marigold", "Rose"]

    if label in fruits:
        return "Fruit"
    elif label in vegetables:
        return "Vegetable"
    elif label in cereals:
        return "Cereal"
    elif label in legumes:
        return "Legume"
    elif label in spices:
        return "Spice"
    elif label in commercial:
        return "Commercial Crop"
    elif label in medicinal:
        return "Medicinal"
    elif label in flowers:
        return "Flower"
    else:
        return "Other"

In [5]:
def apply_categorization(df): 
    df["Category"] = df["Label"].apply(categorize_crop)
    return df

In [6]:
def preprocess_data(path="../Data/raw/Crop Recommendation Dataset.xlsx"):
    df = load_data(path)           
    df = clean_data(df)
    df = apply_categorization(df)
    return df

In [7]:
#Aqui mostramos los resultados entonces debe aparecer las primeras 5 filas del dataset procesado
# y otra tabla con el conteo por categoría
df = preprocess_data()

display(Markdown("### Primeras filas del dataset procesado"))
display(df.head())

category_counts = df["Category"].value_counts().reset_index()
category_counts.columns = ["Category", "Count"]

display(Markdown("### Distribución de categorías de cultivo"))
display(category_counts)

### Primeras filas del dataset procesado

   Temperature   Humidity        pH    Rainfall Label Category
0    20.879744  82.002744  6.502985  202.935536  Rice   Cereal
1    21.770462  80.319644  7.038096  226.655537  Rice   Cereal
2    23.004459  82.320763  7.840207  263.964248  Rice   Cereal
3    26.491096  80.158363  6.980401  242.864034  Rice   Cereal
4    20.130175  81.604873  7.628473  262.717340  Rice   Cereal

### Distribución de categorías de cultivo

          Category  Count
0        Vegetable   2100
1            Fruit   1300
2  Commercial Crop   1100
3           Legume    900
4            Other    600
5           Cereal    400
6        Medicinal    200
7           Flower    200
8            Spice    200

In [8]:
df.columns

Index(['Temperature', 'Humidity', 'pH', 'Rainfall', 'Label', 'Category'], dtype='object')

In [9]:
save_path = "../Data/processed/"
os.makedirs(save_path, exist_ok=True)

df.to_csv(save_path + "dataset_clean.csv", index=False)
print("Archivo guardado correctamente")

Archivo guardado correctamente