In [1]:
import pandas as pd
import os

In [2]:
path = "../Data/raw/Crop Recommendation Dataset.xlsx"

In [3]:
df = pd.read_excel(path)
df.head()

   Temperature   Humidity        pH    Rainfall Label
0    20.879744  82.002744  6.502985  202.935536  Rice
1    21.770462  80.319644  7.038096  226.655537  Rice
2    23.004459  82.320763  7.840207  263.964248  Rice
3    26.491096  80.158363  6.980401  242.864034  Rice
4    20.130175  81.604873  7.628473  262.717340  Rice

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  7000 non-null   float64
 1   Humidity     7000 non-null   float64
 2   pH           7000 non-null   float64
 3   Rainfall     7000 non-null   float64
 4   Label        7000 non-null   object
dtypes: float64(4), object(1)
memory usage: 273.6+ KB

In [5]:
df.describe()

       Temperature     Humidity           pH     Rainfall
count  7000.000000  7000.000000  7000.000000  7000.000000
mean     23.493807    71.318934     6.454138   751.476229
std       6.755644    22.289074     0.667650   825.472175
min       6.105382     6.029440     3.504752    20.211267
25%      18.948438    58.055782     6.049754   123.595859
50%      23.344269    77.238068     6.406537   644.904867
75%      27.686253    90.259315     6.859321  1051.049795
max      46.791488    99.981876     9.935091  5989.995521

In [6]:
df["Label"].value_counts()

Label
Rice            100
Maize           100
Banana          100
Jute            100
Pulses          100
               ...
Cashewnuts      100
French Beans    100
Sugarcane       100
Bajra           100
Mustard         100
Name: count, Length: 70, dtype: int64

In [7]:
processed_path = "../Data/processed/crops_clean_initial.csv"

df.to_csv(processed_path, index=False)

processed_path

'../Data/processed/crops_clean_initial.csv'